*{
    padding: 0;
    margin: 0;
}

figure{
    display: flex;
    justify-content: center;
}

figure img{
    width: 300px;
    margin-top: -20px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;

    
}

nav a{
    color: black;
    font-size: 35px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0;
    
}

nav a:hover{
    color: rgb(49, 43, 43);
    
}

.home{
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
    
}

.home div{
    padding-top: 140px;
}

.home div h1{
    font-size: 50px;
   font-weight: 800;
}

.home img{
    margin-left:20px ;
    margin-top: 0px;
    width: 300px;
}


.home input{
    padding:15px;
    margin-top: 20px;
    width: 300px;
    border-radius: 10px;
}

